#c {
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) , -1px -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) , -1px -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) , -1px -1px 0 rgba(0, 0, 0, 0.1);
}

.box {
	background: rgba(70, 130, 180, 0.5);
	position: absolute;
	border: 2px solid steelblue;
}

.no-webworkers .main,
.no-canvas .main {
	display: none;
}

.webworkers .alt,
.canvas .alt {
	display: none;
}

.no-webworkers .alt,
.no-canvas .alt {
	display: block;
}