<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
			<mimeMap fileExtension=".webm" mimeType="video/webm"/>
			<mimeMap fileExtension=".woff" mimeType="application/x-woff"/>
			<mimeMap fileExtension=".xhtml" mimeType="application/xhtml+xml"/>
		</staticContent>
	</system.webServer>
</configuration>
